<html>
<head>
        <title>Jessica Garrett</title>
    </head>
<body>
    <h1>Jessica Garrett's Blog</h1>
    <div>
    <h2>Blog post 1</h2>
    <p>Sample blog post blah blah blah talking
    Sample blog post blah blah blah talking
  Sample blog post blah blah blah talking
Sample blog post blah blah blah talking</p>
  </div>
    <h2>Blog post 2</h2>
    <p>more stuffmore stuffmore stuffmore stuffmore stuff
    more stuffmore stuffmore stuffmore stuffmore stuff
  more stuffmore stuffmore stuffmore stuffmore stuff</p>
</body>
</html>
